.container{
  display: flex;
  justify-content: center;

  .preview-wrapper{
    display: flex;
    align-items: center;
    max-width: 1140px;
    padding: 0 5px;

    .layer{
      width: 50vw;
      height: auto;
      margin-right: 30px;
    }

    .content-container{
      padding: 35px 39px 37px 0;

      h1 {
        font-size: 3em;
        margin-bottom: 20px;
        line-height: 66px;
      }

      p{
        color: $secondary-text-color;
        margin-bottom: 60px;
        line-height: 27px;
      }
    }
  }
}

@media (max-width: 690px) {
  .container{
    .preview-wrapper{
      .content-container{
        padding: 35px 39px 37px 0;
        h1{
          font-size: 2em;
          line-height: 40px;
        }

        p{
          margin-bottom: 40px;
          line-height: 27px;
        }

      }

    }
  }
}

@media (max-width: 510px) {
  .container{
    .preview-wrapper{
      padding: 0 20px 60px 15px;

      .layer{
        display: none;
      }

      .content-container{

        h1{
          margin-top: 80px;
          margin-bottom: 20px;
          font-size: 1.8em;
          line-height: 31px;
        }

        p{
          font-size: 0.8em;
          line-height: 21px;
        }

      }

    }
  }

}