@import 'variables';
@import 'header';
@import 'preview';
@import 'gallery';
//@import 'about';
//@import 'services';


body {
  font-family: $primary-font;
  font-size: var(--base-font-size);
  color: $primary-text-color;
  background-color: $primary-background-color;
}

.logo{
  color: $primary-color;
}

.primary-button {
  background-color: $primary-background-color;
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 21px 60px;
  font-size: var(--base-font-size);

  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;


  &:hover {
    background-color: $primary-color;
    color: $contrast-text-color;
  }

  &:focus{
    background-color: $secondary-color;
    color: $primary-color;
  }

  &:active {
    border: 1px solid $active-color;
    background-color: $active-color;
    color: $contrast-text-color;
  }

  @media (max-width: 690px) {
    padding: 18px 51px;
  }

  @media (max-width: 510px) {
    padding: 14px 41px;
  }

  @media (max-width: 480px) {
      padding: 13px 29px;
  }
}